@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light");
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#title-bar {
  height: 31px;
  background-color: #d6dae0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

#logo {
  padding-left: 5px;
  vertical-align: middle;
}

#logo-description {
  color: black;
  font-size: 12px;
  font-family: "system";
  vertical-align: middle;
}

#minimize {
  color: black;
  font-size: 12px;
  padding: 9px 15px 7px 15px;
}

#square {
  color: black;
  font-size: 22px;
  padding: 0px 15px 5px 15px;
}

#exit {
  color: black;
  font-size: 15px;
  padding: 7px 17px 7px 17px;
}

#url-bar {
  height: 28px;
  background-color: #f1f3f4;
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: scroll;
  text-overflow: ellipsis;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-bottom: 1px solid lightgray;
}

#url-bar::-webkit-scrollbar {
  display: none;
}

#ssl-padlock {
  user-select: none;
  padding-left: 8px;
  margin-right: 8px;
}

#domain-name {
  color: #000000;
  font-size: 14px;
  font-family: "system";
}

#domain-path {
  color: #7c7c7c;
  font-size: 14px;
  font-family: "system";
}

#title-bar-width {
  width: 100%;
}

#content {
  width: 100%;
  height: 700px;
}

#window {
  margin-top: 5rem;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 759px; /* title bar height + content height */
  width: 90%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.bottom-div {
  position: fixed; /* needs to be positioned for z-index to take effect */
  z-index: 9999;
 
  bottom: 20%;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: #fe0000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.header-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center text within .header-container */
}

.header-text-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  
}

.img2 {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

h2 {
  
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 2rem;
}

p {
  
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  margin: 0.5rem;
}

strong {
  font-size: 1.6rem;
}

.button {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.myButton {
	background-color:#ffffff;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#eb1212;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
  margin-top: 1rem;
  font-size: 1.6rem;
}
.myButton:hover {
	background-color:#f0f0f0;
}
.myButton:active {
	position:relative;
	top:1px;
}
